// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label.collection_check_boxes {
  float: none;
  margin: 1em;
  vertical-align: -2px;
  margin-left: 2px;
}
